<h2>
  Maintain User Security Assignments</h2>


<div class="row">
  <div class="well">
    This application maintains security groups, and allows assigments of users and applications to those groups, for a fictional
    application security system. Below is the database schema that this application maintains.
  </div>
  <div class="column70Left">
    <div class="row">
      <img class="img-border" src="/assets/images/sec_schema.jpg">
    </div>
  </div>
  <div class="column30Left">
    <div class="row">
      Swagger documentation for the security maintenance located <a target="_new" href={{this.swaggerUrl}}>here</a>. 
      Select the sec entry in the selection box at the top.
    </div>
  </div>
</div>