<h2>
  Maintain User Security Assignments</h2>


<div class="row">
  <div class="well">
    This application maintains security groups, and allows assigments of users and applications to those groups, for a fictional
    application security system. Below is the database schema that this application maintains. The data is maintained
    using JPA for database access, and Jackson/Spring for REST services. The postgres database includes constraints to
    demonstrate error handling.
  </div>
  <div class="column50Left">
    <div class="row">
      <img class="img-border" src="assets/images/sec_schema.jpg">
    </div>
  </div>
  <div class="column50Left">
    <div class="row">
      Swagger documentation for the security maintenance REST Service is located <a target="_new" href={{this.swaggerUrl}}>here</a>. 
      <br>Select the sec entry in the selection box at the top.
    </div>
    <div class="row">
      <blockquote>
          <ul class='basic-list source-list'>
              <li><a target="_new" href="https://github.com/donhenton/spring-boot-birt">REST Service Source Code</a></li>
              <li><a target="_new" href="https://github.com/donhenton/sec-maint">Angular Front-end Source Code</a></li>
          </ul>
      </blockquote>
    </div>
  </div>
</div>