.shuttle-item-selector {
    margin-left: 10px;
    .shuttle-box {
        width: 100%;
        font-size: 75%;
        font-weight: bold;
        option {
            border-bottom: thin solid grey;
            &[selected] {
                color: white;
                background-color: green
            }
        }
    }
    
    select *.chosen:checked {
        background-color: green;
        color:#FFF;
    }



    .option-item {
        &.chosen {
            &:checked {
                font-style: italic;
               
            }
        }
        &.staged:before {
            font-family: "foundation-icons";
              content: "\f194    ";  
        }
    }
}