.shuttle-item-selector {
   margin-left: 10px;

    .shuttle-box {
        width: 100%;
        font-size: 75%;
        font-weight: bold;
        option {
            border-bottom: thin solid grey;
            &[selected] {
                color: white;
                background-color: green
            }
        }
        
    
    }

}

