<div class="row">

  <div class="column70Left form-column">

    <app-group-maint (selectEvent)="this.handleGroupSelect($event)" #appGroupMaintainer></app-group-maint>
  </div>

  <div class="column30Right form-column">

    <div class="row application-header" *ngIf="this.groupMaintainer.selectedGroup.id > -1">
      Applications Assigned to
      <span class="group-title">{{this.groupMaintainer.selectedGroup.groupName}}</span>
    </div>


    <div>
      <app-item-shuttle  [shuttleItems]="this.applicationData" ></app-item-shuttle>
    </div>



  </div>

</div>