<div class="row">

  <div class="column70Left form-column">

    <app-group-maint [initialGroupsData]="this.groupsData" (selectEvent)="this.handleGroupSelect($event)" #appGroupMaintainer></app-group-maint>
  </div>

  <div class="column30Right form-column">

    <div class="row application-header" *ngIf="this.groupMaintainer.selectedGroup.id > -1">
      <app-item-shuttle [maintType]="this.maintType" [shuttleMetaData]="this.shuttleMetaData" [shuttleItems]="this.applicationData" ></app-item-shuttle>
    </div>


    <div>
     
    </div>



  </div>

</div>