
<div class="row">
<h2>Maintain Groups and {{this.shuttleMetaData.assignedTo}}</h2>

</div>

<div class="row">

  <div class="column50Left form-column">

    <app-group-maint [initialGroupsData]="this.groupsData" (selectEvent)="this.handleGroupSelect($event)" #appGroupMaintainer></app-group-maint>
  </div>

  <div class="column50Right form-column">

    <div class="row application-header" *ngIf="this.groupMaintainer.selectedGroup.id > -1">
      <app-item-shuttle (shuttleEvent)="onShuttleEvent($event)" [maintType]="this.maintType" [shuttleMetaData]="this.shuttleMetaData" [shuttleItems]="this.applicationData" ></app-item-shuttle>
    </div>


    <div>
     
    </div>



  </div>

</div>
 <group-maint-alert></group-maint-alert>