.shuttle-group {
    margin-top: 15px;
}

.shuttle-sub-header {
    font-size: 75%;
    margin-bottom: 15px;
}

.shuttle-action-row {
    text-align: center;
    i {
        font-size: 30px;
    }
}

button.shuttle-button-inactive {
    border: 1px solid #999999;
    background-color: #cccccc;
    color: #666666;
    cursor: not-allowed;
    &:hover {
        background-color: #cccccc;
        color: #666666;
    }
}