.shuttle-group {
    margin-top: 15px;
}

.shuttle-sub-header {
    font-size: 75%;
    margin-bottom: 15px;
}

.shuttle-action-row {
   
    text-align: center;
     i {
         font-size: 30px;
     }
}