<div class="row application-header">
   <span class="group-title">{{this.shuttleMetaData.assignedTo}}</span> AssignedTo 
   
</div>



<div *ngIf="this.shuttleItems" class="shuttle-group">
  <div class="shuttle-sub-header">In  group {{this.shuttleMetaData.selectedGroup.groupName}} 0</div>
  <shuttle-item-selector #selectorInGroup [groupMemberShip]="0" [shuttleData]="this.shuttleItems.inGroup"></shuttle-item-selector>
</div>


<div *ngIf="this.shuttleItems" class="shuttle-group shuttle-action-row">
      <button [ngClass]="computeShuttleButtonDisable('NotIn')" (click)="this.requestNotInToIn()" class="btn btn-small btn-primary"><i class="fi-arrow-up"></i></button>
      <button [ngClass]="computeShuttleButtonDisable('In')" (click)="this.requestInToNotIn()" class="btn btn-small btn-primary"><i class="fi-arrow-down"></i></button>
</div>


<div *ngIf="this.shuttleItems" class="shuttle-group">
  <div class="shuttle-sub-header">Not in group {{this.shuttleMetaData.selectedGroup.groupName}} 1</div>
  <shuttle-item-selector #selectorNotInGroup  [groupMemberShip]="1" [shuttleData]="this.shuttleItems.notInGroup"></shuttle-item-selector>
</div>

<div class="row">

<button [disabled]="this.disableSubmitButton()" (click)="this.handleShuttleUpdate()" class="btn btn-primary">Submit Changes</button>

</div>