<div class="row application-header">
  Assigned  <span class="group-title">{{this.shuttleMetaData.assignedTo}}</span>
</div>



<div *ngIf="this.shuttleItems" class="shuttle-group">
  <div class="shuttle-sub-header">In this group</div>
  <shuttle-item-selector [shuttleData]="this.shuttleItems.inGroup"></shuttle-item-selector>
</div>

<div *ngIf="this.shuttleItems" class="shuttle-group">
  <div class="shuttle-sub-header">Not in this group</div>
  <shuttle-item-selector [shuttleData]="this.shuttleItems.notInGroup"></shuttle-item-selector>
</div>