.shuttle-box {
    width: 270px;
    font-size: 120%;
    font-weight: bold;
    option {
        border-bottom: thin solid grey;
        &[selected] {
            color: white;
            background-color: green
        }
    }
    

}