.edit-form-container {
    margin-top: 20px;
 
    padding: 10px;
    border: thin solid #667467
}

.form-column {
    position: relative
}
.form-non-active {

    position: absolute;
    background-color: white;
    opacity: .75;
    width:100%;
    top:0;
    left: 0;
    height: 100%;
}

.selector-container {
    padding: 5px;
    border: thin solid#667467;
}