<div class="row">

  <div class="column50Left">
    <h3>Users</h3>
    <div class="row">
    <app-basic-selector #usersSelector (selectEvent)="this.onSelectUser($event)" [listData]="this.appData.usersData"></app-basic-selector>
    </div>
    <div class="edit-form-container">

      
      <app-user-form></app-user-form>
    </div>



  </div>

  <div class="column50Right">
    <h3>Applications  [{{this.appState}}]</h3>
    <div class="row">
      <app-basic-selector #appsSelector [editState]="this.appState" (selectEvent)="this.onSelectApp($event)"  [listData]="this.appData.appsData"></app-basic-selector>
    </div>
   

  <div class="edit-form-container">

    <app-application-form (formAction)="this.handleFormAction($event)"  [editState]="this.appState" [selectedApp]="this.selectedApp"  ></app-application-form>

  </div>
</div>