<div *ngIf="message.type == 'confirm'"  class="popup-component">



    <div class="popup-overlay show">
        <div class="popup-dialog popup-show">
            <div class='popup-items'>
                <h3>{{message.text}}</h3>
            </div>
            <div class="row button-row">
                <a (click)="message.noFn()">
                    <button class="btn btn-red">No</button>
                </a>
                <a (click)="message.siFn()">
                    <button  class="btn btn-primary" >Yes</button>
                </a>
            </div>
        </div>
    </div>        





</div>