.udemy-form {
    .form-group {
        margin-top: 20px;
    }
    label {
        margin: 5px 5px;
       
    }
    .form-control {
        margin: 10px;
    }
    textarea.form-control {
        width: 200px;
        height: 200px;
    }
    button.btn-primary {
        margin-top: 20px;
    }

    button:disabled,
    button[disabled]{
      border: 1px solid #999999;
      background-color: #cccccc;
      color: #666666;
      cursor: not-allowed;
      &:hover {
        background-color: #cccccc;
        color: #666666;
      }
    }
}