$menu-width: 250px;
//$menu-height: auto;
$base-menu-opacity: 0.7;

nav.topMenu 
{
    // display: inline;
    // border: thin solid yellow;
    // background-color: red;
    float: right;
    margin-top: 15px;
    z-index: 200px;

    ul {
        margin: 0px;
        padding: 0px;
        list-style: none;

        li {
            float: left;
            width: $menu-width;
            position: relative;
          //  height: $menu-height;
            text-align: center;

            aside
            {
                border-right: thin solid $white-color;
                opacity: $base-menu-opacity;
                &:hover {
                    color: $white-color;
                    opacity: 1;

                }
                cursor: pointer;
                span.ui-icon
                {
                    display:inline;
                    margin-right: 5px;
                    // float: right;


                }
            }

            a {
                // background: #333;
                color: #fff;
                cursor: pointer;
                opacity: $base-menu-opacity;
                display: block;
                border-right: thin solid $white-color;
                text-decoration: none;
                &:hover {
                    color: $white-color;
                    opacity: 1;

                }

            }
            &:last-child a
                {
                border-right: none;
            }

        }

        /*=== submenu ===*/

        ul {
            display: none;
            position: absolute;
            //margin-left: 0px;
            //list-style: none;
            //padding: 0px;
            &.show
            {
                display: block;
            }


            li {
                width: $menu-width;
                position:relative;
                text-align : left;
                background-color: $blue-color;
               
                 
                // float: left;
                a
                {
                    margin-left: 8px;
                    border: none;
                    cursor: pointer;
                }

                aside
                {
                    border-right: none;
                    margin: 5px;
                   // margin-top: 7px;
                     

                }
                
                
                /* sub sub menu */
                
                ul
                {
                    position: absolute;
                    display:none;
                    left: $menu-width;
                    top: -5px;
                    
                     
                    .show
                    {
                        display:block;
                    }
                }
                
                
                
                
                /* sub sub menu */
                
                
                
                
                
            }

            a {
                display: block;
              //  height: 35px;
                padding: 7px 8px;
                color: #fff;
                opacity: $base-menu-opacity;
                cursor: pointer;
                text-decoration: none;
                border-top: thin solid $white-color;
                border-right: none;

            }

            li a:hover {
                color: $white-color;
                opacity: 1;
            }

        }  
        /*=== submenu ===*/

    }
}